

body {
    background-color: #E4D2A0;
}

.container,
header {
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

h1 img {
    max-width: 100%;
}

header p {
    text-align: right;
}

h2 {
    text-align: center;
    transform: rotate(-3deg);
    margin-bottom: 50px;
}

h2 span {
    padding: 5px 20px;
    line-height: 1.5;
    font-size: 25px;
    background: #E94D51;
}

h3 {
    padding: 5px;
    transform: rotate(3deg);
}

h3 span {
    padding: 5px;
    line-height: 1.5;
    font-size: 21px;
    background: #4DA0BE;
    color: white;
}

h4 {
    padding: 5px 20px;
    transform: rotate(-3deg);
    margin-bottom: 50px;
}

h4 span {
    padding: 5px 40px;
    line-height: 1.5;
    font-size: 18px;
    color: white;
}

ol.backGreen li::before,
h4.backGreen span {
    background-color: #C2B859;
}

ol.backBlue li::before,
h4.backBlue span {
    background-color: #4DA0BE;
}

ol.backBrown li::before,
h4.backBrown span {
    background-color: #965B49;
}

div {
    margin: 0 5%;
}

ol {
    margin-left: 55px;
    position: relative;
    padding-inline-start: 0;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}

ol li {
    min-height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
}

ol li::before {
    content: counter(li);
    position: absolute;
    left: -55px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
}

ul {
    list-style: none;
}

div.backRed,
div.backGreen,
div.backBrown {
    background-color: #965B49;
    border-radius: 5px;
    color: white;
    position: relative;
    padding: 10px 20px 10px 50px;
}
div.backGreen {
    background-color: #C2B859;
    color: black;
}
div.backRed {
    background-color: #E94D51;
}

div.backGreen h5,
div.backBrown h5 {
    position: absolute;
    top: -40px;
    left: 20px;
    background-color: #C2B859;
    border-radius: 5px;
    padding: 5px 20px;
    color: black;
}
div.backGreen h5 {
    background-color: #965B49;
    color: white;
}

div.backBrown li span {
    position: absolute;
    left: 30px;
    width: 50px;
    display: flex;
    justify-content: space-between;
}

div.backBrown li span::after {
    content: "->";
    text-align: right;
}

div.backBrown h6 {
    position: absolute;
    top: 95%;
    margin: 0;
    left: 20px;
    right: -20px;
    background-color: #C2B859;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    color: black;
}

div.extraSpace {
    height: 100px;
}

.tabla {
    margin-bottom: 50px;
}

.tabla h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(3deg);
    margin-bottom: 50px;
    max-width: 500px;
    border-radius: 5px;
    background-color: #4DA0BE;
    height: 35px;
    margin: 0 auto;
}

.tabla h5 span {
    padding: 5px 20px;
    border-radius: 5px;
    transform: rotate(-3deg);
    background-color: #C2B859;
}

.tabla table {
    margin: 25px auto 0;
    background-color: #4DA0BE;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
}

.tabla table tr td:first-child {
    text-align: center;
}

span>img {
    display: none;
}

span:focus>img,
span:hover>img {
    display: block;
    position: absolute;
    max-width: 50vW;
    z-index: 999;
}

.compFact ol.backGreen {
    background-color: #C2B859;
}
.compFact ol.backBrown {
    background-color: #965B49;
    color: white;
}
.compFact ol.backBlue {
    background-color: #4DA0BE;
    color: white;
}

h4 + div {
    display: none;
}

h4 span::after {
    content: '  +';
}

h4.active span::after {
    content: '  -';
}